.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
doc/doxyfile
include/sombok.h
libtool
sombok.pc
sombok.spec
stamp-h1

.libs/
doc/html/
*.la
*.lo
*.o
stamp-html

data/*.old
sombok
